.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.admin-login-card {
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(8, 3, 3);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: rgb(12, 1, 1);
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #113b62;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #ffffff;
}

button:hover {
    background-color: #e64a19;
}

.error-message {
    color: red;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo :hover{
    width: 100px;
    height: 100px;
    cursor: pointer;
    animation: dance 2s infinite alternate;
}

/* Dancing animation for logo */
@keyframes dance {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
