.exam-form-container {
    background: url("./formbackground.jpg") no-repeat center center;
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .user-Heading{
    color: rgb(255, 255, 255);
  }
  
  .exam-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-row {
    display: flex;
    gap: 15px;
  }
  
  .form-group {
    flex: 1;
    margin-bottom: 15px;
  }
  
  button {
    font-weight: bold;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  